<head>

</head>
<body style="width:200px;height:100px; position:absolute;top:20%;left:20%;background-color:#bad325;">
<h1 class="titr">Welcome To <span style="color:#aaaa55;text-shadow:2px 2px #afbd11;font-size:50px;"> DNASYS </span>Application</h1>

<a class="buttons big" href="headers/new">New Site</a>
<a class="buttons big" href="headers">Access Existing</a>
</body>
 