<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="assets/stylesheets/style.css.scss">
  <link type="text/css" rel="stylesheet" href="assets/stylesheets/jquery.sidr.dark.css.scss">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.1.0/fabric.all.min.js" ></script>
  <script src="/assets/jquery.sidr.min.js" ></script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
  <title>DNASYS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
